.patientPage{
    width: 95%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: white;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: none;
    outline: none;
    background-color:white;
  }
  
  /* Style the tab content */
  .tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
  }
  
  .addBtn{
    background-color: #ddd;
    float: left;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }

  .addBtn:hover {
    background-color: #ccc;
  }

  .iconBtn{
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0 0 0 0;
    cursor: pointer;
    transition: 0.3s;
  }