<div *ngFor="let doctor of doctors">
    <div>{{doctor.doctorFullname}}</div>
    <div>{{doctor.doctorId}}</div>
    <div>{{doctor.doctorEmail}}</div>
    <div>{{doctor.doctorPhone}}</div>
    <div>{{doctor.doctorDOB}}</div>
    <div>{{doctor.doctorField}}</div>
    <div>{{doctor.doctorAccreditation}}</div>
    <div>{{doctor.doctorFirstCentre}}</div>
    <div>{{doctor.doctorFirstTime}}</div>
    <div>{{doctor.doctorSecondCentre}}</div>
    <div>{{doctor.doctorSecondTime}}</div>
    <div>{{doctor.doctorThirdCentre}}</div>
    <div>{{doctor.doctorThirdTime}}</div>
</div>